*{
    margin: 0;
    padding: 0;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color:#727272
}
.btn{
    max-width: 180px;
    max-height: 60px;
    border-radius: 8px;
    color: white;
    background-color: #FF900E;
    padding: 20px ;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #b67429e4;
}
.display-flex{
    display: flex;
}
/* header style */

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
     width: 90%;
     align-items: center;
     padding-top: 30px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: bold;
    font-size: 2.5rem;
}
.navbar{
    justify-content: space-between;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
    padding-top: 80px;
}
.banner-content p{
    font-weight: 400;
    font-size: 1rem;
    padding-top: 20px;
}
.banner-content button{
    margin-top: 40px;
}
.banner-img img{
    width: 100%;   
    padding-top: 40px; 
    padding-bottom: 20px;
}
/* features-styles */
.features{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
    gap: 50px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.features-img img{
    border-radius: 5px;
    max-width: 320px;
    max-height: 320px;
}
.features-content h3{
  font-weight: 600;
  font-size: 2.5rem;
}
.features-content p,button{
    margin-top: 20px;
}
/* features-02-style */
.features-02{
     max-width: 1440px;
    margin: 0 auto;
     width: 87%;
     margin-top: 50px;
     display: flex;
     justify-content: space-between;

}
.features-02-content h3{
    font-weight: bold;
    font-size: 2.5rem;
    border-left:4px solid #FF900E;
    padding-left: 10px;
    margin-top: 30px;
}
.features-02-content p{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.features-02-card{
    max-width: 550px;
    max-height: 160px;
    padding: 10px 15px 5px 15px;
    margin-top: 15px;
    box-shadow: 0px 1px 3px 0px rgb(117, 116, 116);
}
.features-02-card h6{
    font-weight: 700;
    font-size: 1.2rem;
}
.features-02 img{
    width: 100%;
    max-width: 570px;
    max-height: 750px;
   
}
#button{
    max-width:340px ;
    max-height: 200px;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    padding: 30px 20px;
    border: none;
    position: relative;
    top: -100px;
    left: -100px;
}
.button-year{
    font-weight: bold;
    font-size: 4rem;
}
.button-experience{
    font-weight: 600;
    font-size: 1.2rem;
}
.features-02-img-content {
    flex-direction: column;
}
/* fact-cotainer-style */
.fact-container{
     max-width: 1440px;
    margin: 0 auto;
     width: 87%;
     margin-top: 50px;
}
.fact-container h2{
    font-weight: bold;
    font-size: 2.5rem;
}
.fact-container p{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}
.facts{
    justify-content: space-around;
    margin-top: 100px;
}
.fact{
    border: 2px solid #FF900E;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    text-align: center;
    max-width: 160px; 
    min-height: 160px;
    border-radius: 5px;

}
.fact p{
    font-weight:600 ;
    font-size: 2.5rem;
}
.fact h6{
    font-weight: 400;
    font-size: 1.2rem;
}
/* .sponser-style */
.sponser{
    max-width: 1440px;
    margin: 0 auto;
     width: 87%;
     margin-top: 100px;
}
.sponser-content{
    text-align: center;
}
.sponser-content h2{
    font-weight: bold;
    font-size: 2.5rem;
}
.sponser-content p{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;
}
.sponser-img{
    margin-top: 50px;
    justify-content: space-between;
}
.sponser-img img{
    filter: grayscale(100%);
}
/* footer-style */
footer{
     max-width: 1440px;
    margin: 0 auto;
     width: 90%;
     margin-top: 100px;
     margin-bottom: 130px;
     text-align: center;
     padding: 30px 0;
     background-color: rgba(255, 144, 14, 0.1);
     font-weight: 500;
     font-size: 1.2rem;
}